body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #0c0c0c;
    font-weight: 400;
    background: #FFF;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    background: #FFF;
}

/* ==================== COLORS & TYPOGRAPHY ==================== */


.text-white {
    color: #FFF;
}

.text-black {
    color: #212529;
}

.bg-white {
    background: #FFF;
}

.bg-black {
    background: #212529;
}

h5.section-title {
    text-transform: uppercase;
    margin-bottom: 2rem !important;
}

/* ==================== LAYOUT & COMPONENTS ==================== */

section {
    /* padding: 100px 0; */
    position: relative;
    background: #FFF;
}

@media (min-width: 992px) {
    .card-lg .card-body {
        padding: 2.25rem;
    }
}

/* offer alert */

.alert-offer {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}

/* header */


.jumbotron {
    background: #EAE5E9 url(../../assets/frontend/images/hero-bg.jpg) center bottom no-repeat;
    background-size: cover;
    padding: 100px 0 600px;
}

/* navigation bar */

.input-search .form-control {
    border-left: none;
}

@media (min-width: 576px) {
    .form-inline .input-group.input-search {
        width: 400px !important;
        margin-left: 40px !important;
    }
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    background: #FFF;
}

.navbar>.container,
.navbar>.container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.navbar-brand {
    display: inline-block;
    padding-top: .275rem;
    padding-bottom: .275rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none
}

.navbar-text {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center
}

.navbar-toggler {
    padding: .2rem .75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    text-decoration: none
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%
}

@media (max-width: 575.98px) {

    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .navbar-expand-sm .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-sm .navbar-toggler {
        display: none
    }
}

@media (max-width: 767.98px) {

    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-md .navbar-toggler {
        display: none
    }
}

@media (max-width: 991.98px) {

    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-lg .navbar-toggler {
        display: none
    }
}

@media (max-width: 1199.98px) {

    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start
    }

    .navbar-expand-xl .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row
    }

    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .navbar-expand-xl .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }

    .navbar-expand-xl .navbar-toggler {
        display: none
    }
}

.navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0
}

.navbar-expand .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.navbar-expand .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.navbar-expand .navbar-toggler {
    display: none
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.65)
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3)
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.65);
    border-color: transparent
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.65)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.65)
}

.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-dark .navbar-brand {
    color: #fff
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9)
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25)
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.1)
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.9)
}

.navbar-dark .navbar-text a {
    color: #fff
}

.navbar-dark .navbar-text a:hover,
.navbar-dark .navbar-text a:focus {
    color: #fff
}

.top-bar {
    background: #1d2c4c;
    color: #FFF;
    padding: .5rem;
    font-weight: 400;
    font-size: 14px;
}

.top-bar a {
    color: #FFF;
}

.top-bar .dropdown-item {
    font-weight: 300
}

.top-bar .topbar-link {
    color: #495057;
    text-decoration: none
}

.top-bar .bx {
    vertical-align: top;
}

.top-bar .topbar-flag {
    margin-right: 10px;
    width: 20px
}

.top-bar .dropdown-menu {
    margin-top: 1.3rem
}

.top-bar .dropdown-toggle {
    color: inherit;
    text-decoration: none
}

.top-bar .dropdown-toggle::after {
    margin-left: 5px
}

.top-bar .dropdown-item {
    color: #495057;
    font-weight: 300
}

.header-absolute {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1030
}

.bg-hover-white {
    transition: all .2s ease-out
}

.bg-hover-white:hover {
    background: #fff !important
}

.navbar.fixed-top.bg-fixed-white {
    background: #fff !important
}

.navbar.fixed-top {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.navbar .nav-item {
    position: relative
}

.navbar .nav-link {
    color: #495057;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .9rem
}

.navbar .nav-link i,
.navbar .nav-link svg {
    margin-left: 5px
}

.navbar .dropdown-menu {
    margin-top: 1.1rem
}

.navbar .megamenu {
    margin-top: 0px
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.2rem;
        padding-left: 1.2rem
    }
}

@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem;
        padding-left: 1.25rem
    }
}

.navbar-light .navbar-brand,
.navbar-hover-light:hover .navbar-brand,
.navbar-fixed-light.fixed-top .navbar-brand {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-hover-light:hover .navbar-brand:hover,
.navbar-hover-light:hover .navbar-brand:focus,
.navbar-fixed-light.fixed-top .navbar-brand:hover,
.navbar-fixed-light.fixed-top .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-nav .nav-link,
.navbar-hover-light:hover .navbar-nav .nav-link,
.navbar-fixed-light.fixed-top .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.65)
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-hover-light:hover .navbar-nav .nav-link:hover,
.navbar-hover-light:hover .navbar-nav .nav-link:focus,
.navbar-fixed-light.fixed-top .navbar-nav .nav-link:hover,
.navbar-fixed-light.fixed-top .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-nav .nav-link.disabled,
.navbar-hover-light:hover .navbar-nav .nav-link.disabled,
.navbar-fixed-light.fixed-top .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3)
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-hover-light:hover .navbar-nav .show>.nav-link,
.navbar-hover-light:hover .navbar-nav .active>.nav-link,
.navbar-hover-light:hover .navbar-nav .nav-link.show,
.navbar-hover-light:hover .navbar-nav .nav-link.active,
.navbar-fixed-light.fixed-top .navbar-nav .show>.nav-link,
.navbar-fixed-light.fixed-top .navbar-nav .active>.nav-link,
.navbar-fixed-light.fixed-top .navbar-nav .nav-link.show,
.navbar-fixed-light.fixed-top .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-toggler,
.navbar-hover-light:hover .navbar-toggler,
.navbar-fixed-light.fixed-top .navbar-toggler {
    color: rgba(0, 0, 0, 0.65);
    border-color: transparent
}

.navbar-light .navbar-toggler-icon,
.navbar-hover-light:hover .navbar-toggler-icon,
.navbar-fixed-light.fixed-top .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.65)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-light .navbar-text,
.navbar-hover-light:hover .navbar-text,
.navbar-fixed-light.fixed-top .navbar-text {
    color: rgba(0, 0, 0, 0.65)
}



.navbar-icon-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .4rem 0;
    margin: 0 .5rem;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1.5
}

.navbar-icon-link::after {
    display: none
}

.navbar-icon-link .svg-icon {
    width: 25px;
    height: 25px
}

.navbar-icon-link-badge {
    /* position: absolute;
    top: -5px;
    right: 0; */
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: #343a40;
    color: #fff;
    text-align: center;
    font-size: 0.6rem;
    margin-left: 4px;
}

.navbar-light .navbar-icon-link,
.navbar-fixed-light.fixed-top .navbar-icon-link,
.navbar-hover-light:hover .navbar-icon-link {
    color: rgba(0, 0, 0, 0.95)
}

.navbar-light .navbar-icon-link-badge,
.navbar-fixed-light.fixed-top .navbar-icon-link-badge,
.navbar-hover-light:hover .navbar-icon-link-badge {
    background: #343a40;
    color: #fff
}

.navbar-dark .navbar-icon-link {
    color: #fff
}

.navbar-dark .navbar-icon-link-badge {
    background: #fff;
    color: #343a40
}

@media (max-width: 575.98px) {
    .navbar-expand-sm {
        padding: .6rem 1rem
    }

    .navbar-expand-sm .dropdown-menu {
        margin-top: 0;
        box-shadow: none;
        border: none
    }

    .navbar-expand-sm.navbar-sticky .navbar-collapse {
        max-height: 80vh;
        overflow-y: auto
    }
}

@media (max-width: 767.98px) {
    .navbar-expand-md {
        padding: .6rem 1rem
    }

    .navbar-expand-md .dropdown-menu {
        margin-top: 0;
        box-shadow: none;
        border: none
    }

    .navbar-expand-md.navbar-sticky .navbar-collapse {
        max-height: 80vh;
        overflow-y: auto
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg {
        padding: .8rem 1rem
    }

    .navbar-expand-lg .dropdown-menu {
        margin-top: 0;
        box-shadow: none;
        border: none
    }

    .navbar-expand-lg.navbar-sticky .navbar-collapse {
        max-height: 80vh;
        overflow-y: auto
    }
}

@media (max-width: 1199.98px) {
    .navbar-expand-xl {
        padding: .6rem 1rem
    }

    .navbar-expand-xl .dropdown-menu {
        margin-top: 0;
        box-shadow: none;
        border: none
    }

    .navbar-expand-xl.navbar-sticky .navbar-collapse {
        max-height: 80vh;
        overflow-y: auto
    }
}

.navbar-expand {
    padding: .6rem 1rem
}

.navbar-expand .dropdown-menu {
    margin-top: 0;
    box-shadow: none;
    border: none
}

.navbar-expand.navbar-sticky .navbar-collapse {
    max-height: 80vh;
    overflow-y: auto
}

.navbar-cart-product {
    min-width: 320px;
    margin-bottom: 10px
}

.navbar-cart-product .navbar-cart-product-image {
    max-width: 70px
}

.navbar-cart-product .navbar-cart-product-link {
    font-weight: bold;
    text-decoration: none;
    color: #343a40;
    padding: 0
}

.navbar-cart-product .navbar-cart-product-link:hover {
    background: none;
    text-decoration: none
}

.navbar-cart-total {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    font-size: .7875rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: .5rem
}

.dropdown-submenu {
    position: relative
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -2px !important
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    /* padding: 0.5rem 1rem; */
    padding: 0;
}

.navbar .bx {
    font-size: 24px;
}

/* navbar after login */

.user img,
.user div {
    display: inline-block;
}

.user .username {
    margin-left: 0px;
}

.username i.bx {
    font-size: 18px;
    margin-left: 0;
}

.dropdown-toggle-no-arrow:after {
    display: none !important;
}

@keyframes showDropdown {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar .dropdown-menu.show {
    animation: showDropdown .35s ease forwards;
}


/* product card */

.card-image {
    position: relative;
}

.btn-buy {
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transition: all .3s ease 0s
}

.card:hover .btn-buy {
    opacity: 1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .3s ease 0s
}

.card:hover .overlay {
    opacity: 1;
}

.card {
    padding: 0;
    border: none;
}

.card-product .card-img-top {
    padding: 0px;
}

.card-product .card-body {
    /* padding-top: 8px; */
    padding: 15px 0;
}

.badge-new {
    top: 7px;
    right: 7px;
    position: absolute;
    display: block;
    z-index: 10;
    padding: 2px 7px;
    font-size: 12px;
    background-color: #ef5f5f;
    color: #fff;
    border-radius: 2px;
}

.price-wrap {
    font-size: 16px;
}

.price-wrap .price-new,
.price-old.text-success {
    font-weight: 500;
}

.price-old {
    margin-left: 8px;
    font-size: 14px;
}


.card-title {
    min-height: 48px;
    font-size: 18px;
    margin-bottom: 2px;
}

.card p {
    margin-bottom: 8px;
}

.card small {
    font-size: .85rem;
}

/* school card */

.card-school {
    margin-bottom: 30px;
}

.card-school img {
    margin: 15px auto;
}

.card-school .card-body {
    padding-top: 10px;
}

.card-school .card-title {
    min-height: auto;
    margin-bottom: 6px;
}


/* book card */

.card-book {
    border: 1px solid #e4e4e4;
    margin-bottom: 30px;
}

.card-book img {
    margin: 0 auto;
}

/* .card-book .card-title {
    font-size: 24px;
}
 */
/* google map */

.map-container {
    position: relative;
    overflow: hidden;
}

.map-container iframe,
.map-container .map-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

iframe[src*='google.com/maps'] {
    border: none;
}

.map-container {
    min-height: 400px;
}

.map-container:not(:last-child) {
    margin-bottom: 1.85714286em;
}

.map-container.border--round {
    overflow: hidden;
    z-index: 2;
}

.map-container.border--round .gm-style {
    border-radius: 6px;
}

.map-container iframe {
    left: 0;
}

@media all and (min-width: 768px) {

    .background-image-holder .map-container,
    .imageblock__content .map-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .map-container+div[class*='col-'] {
        margin-top: 3.71428571em;
    }
}

/* footer */

footer {
    padding: 80px 0;
    color: #FFF;
}

footer ul,
footer ul.social-icons {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

footer ul li {
    margin-bottom: 12px;
}

footer ul li a {
    color: #FFF;
}

footer ul.social-icons li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}

footer ul.social-icons li a {
    font-size: 24px;
    color: #FFF;
}

footer hr {
    opacity: .15;
}

.footer-links li {
    display: inline-block;
    margin: 0 10px;
}

footer h6 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFF;
    margin-bottom: 24px;
}

/* shopping cart */

[class*="dlist-"] {
    margin-bottom: 5px;
}

[class*="dlist-"] dd {
    margin-bottom: 0;
}

.dlist-inline dt,
.dlist-inline dd {
    display: inline-block;
}

.dlist-align dt {
    width: 200px;
    float: left;
    word-wrap: break-word;
}

.dlist-align dd {
    margin-left: 120px;
    vertical-align: baseline;
}

/* my account */

.media-body {
    padding-left: 10px;
}

.media>.avatar:first-child{
    margin-bottom: 0;
}

/* notifications list */

.notification-list,
.n-user-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.notification-list>li {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
    padding: 5px 0;
}

.notification-list .cat-icon {
    width: 20px;
}

.notification-list .avatar {
    width: 30px;
}

.notification-list .media {
    padding: 15px;
}

.notification-list .media-body {
    padding: 6px 0 6px 20px;
}

.notification-list .media-left {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FF733E;
    text-align: center;
    line-height: 56px;
    color: #FFF;
}

.notification-list .media-left .bx {
    font-size: 24px;
}

.rounded {
    border-radius: 0.25rem;
}

.n-user-list {
    margin-bottom: 5px;
}

.n-user-list:after {
    clear: both;
    content: '';
    display: table;
}

.n-user-list li {
    float: left;
}

.n-user-list li+li {
    margin-left: 3px;
}

.n-user-list li a,
.n-user-list li a:hober {
    text-decoration: none;
}

/* ==================== UTILITIES ==================== */

/* IMAGE SIZES */

.img-xs,
.img-sm,
.img-md,
.img-lg {
    -o-object-fit: cover;
    object-fit: cover;
}

.img-xs {
    width: 40px;
    height: 40px;
}

.img-sm {
    width: 80px;
    height: 80px;
}

.img-md {
    width: 160px;
    height: 160px;
}

.img-lg {
    width: 400px;
    height: 300px;
}

/* VERTICAL RHYTHAM SPACING */


.mr0 {
    margin-right: 0;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb8 {
    margin-bottom: 8px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb20 {
    margin-bottom: 24px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb48 {
    margin-bottom: 48px;
}

.mb56 {
    margin-bottom: 56px;
}

.mb64 {
    margin-bottom: 64px;
}

.mb72 {
    margin-bottom: 72px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb88 {
    margin-bottom: 88px;
}

.mb96 {
    margin-bottom: 96px;
}

.mb104 {
    margin-bottom: 104px;
}

.mb112 {
    margin-bottom: 112px;
}

.mb120 {
    margin-bottom: 120px;
}

.mb160 {
    margin-bottom: 160px;
}

.mt0 {
    margin-top: 0 !important;
}

.mt8 {
    margin-top: 8px;
}

.mt16 {
    margin-top: 16px;
}

.mt20 {
    margin-top: 20px;
}

.mt24 {
    margin-top: 24px;
}

.mt32 {
    margin-top: 32px;
}

.mt40 {
    margin-top: 40px;
}

.mt48 {
    margin-top: 48px;
}

.mt56 {
    margin-top: 56px;
}

.mt64 {
    margin-top: 64px;
}

.mt72 {
    margin-top: 72px;
}

.mt80 {
    margin-top: 80px;
}

.mt88 {
    margin-top: 88px;
}

.mt96 {
    margin-top: 96px;
}

.mt104 {
    margin-top: 104px;
}

.mt112 {
    margin-top: 112px;
}

.mt120 {
    margin-top: 120px;
}

.mt160 {
    margin-top: 160px;
}

.p32 {
    padding: 0 32px;
}

.p24 {
    padding: 24px;
}

.p0 {
    padding: 0;
}

.pt0 {
    padding-top: 0;
}

.pt8 {
    padding-top: 8px;
}

.pt16 {
    padding-top: 16px;
}

.pt20 {
    padding-top: 20px;
}

.pt24 {
    padding-top: 24px;
}

.pt32 {
    padding-top: 32px;
}

.pt40 {
    padding-top: 40px;
}

.pt48 {
    padding-top: 48px;
}

.pt64 {
    padding-top: 64px;
}

.pt72 {
    padding-top: 72px;
}

.pt80 {
    padding-top: 80px;
}

.pt88 {
    padding-top: 88px;
}

.pt96 {
    padding-top: 96px;
}

.pt104 {
    padding-top: 104px;
}

.pt112 {
    padding-top: 112px;
}

.pt120 {
    padding-top: 120px;
}

.pt160 {
    padding-top: 160px;
}

.pt180 {
    padding-top: 180px;
}

.pt240 {
    padding-top: 240px;
}

.pb0 {
    padding-bottom: 0;
}

.pb8 {
    padding-bottom: 8px;
}

.pb16 {
    padding-bottom: 16px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb24 {
    padding-bottom: 24px;
}

.pb32 {
    padding-bottom: 32px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb48 {
    padding-bottom: 48px;
}

.pb56 {
    padding-bottom: 56px;
}

.pb64 {
    padding-bottom: 64px;
}

.pb72 {
    padding-bottom: 72px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb88 {
    padding-bottom: 88px;
}

.pb96 {
    padding-bottom: 96px;
}

.pb104 {
    padding-bottom: 104px;
}

.pb112 {
    padding-bottom: 112px;
}

.pb120 {
    padding-bottom: 120px;
}

.pb160 {
    padding-bottom: 160px;
}

.pb180 {
    padding-bottom: 180px;
}

.pb240 {
    padding-bottom: 240px;
}

@media all and (max-width: 990px) {
    .mb-s-0 {
        margin-bottom: 0;
    }

    .mb-s-8 {
        margin-bottom: 8px;
    }

    .mb-s-16 {
        margin-bottom: 16px;
    }

    .mb-s-24 {
        margin-bottom: 24px;
    }

    .mb-s-32 {
        margin-bottom: 32px;
    }

    .mb-s-40 {
        margin-bottom: 40px;
    }

    .mb-s-48 {
        margin-bottom: 48px;
    }

    .mb-s-64 {
        margin-bottom: 64px;
    }

    .mb-s-72 {
        margin-bottom: 72px;
    }

    .mb-s-80 {
        margin-bottom: 80px;
    }

    .mb-s-88 {
        margin-bottom: 88px;
    }

    .mb-s-96 {
        margin-bottom: 96px;
    }

    .mb-s-104 {
        margin-bottom: 104px;
    }

    .mb-s-112 {
        margin-bottom: 112px;
    }

    .mb-s-120 {
        margin-bottom: 120px;
    }
}

@media all and (max-width: 990px) {
    .mb-sm-0 {
        margin-bottom: 0;
    }

    .mb-sm-8 {
        margin-bottom: 8px;
    }

    .mb-sm-16 {
        margin-bottom: 16px;
    }

    .mb-sm-20 {
        margin-bottom: 20px;
    }

    .mb-sm-24 {
        margin-bottom: 24px;
    }

    .mb-sm-32 {
        margin-bottom: 32px;
    }

    .mb-sm-40 {
        margin-bottom: 40px;
    }

    .mb-sm-48 {
        margin-bottom: 48px;
    }

    .mb-sm-64 {
        margin-bottom: 64px;
    }

    .mb-sm-72 {
        margin-bottom: 72px;
    }

    .mb-sm-80 {
        margin-bottom: 80px;
    }

    .mb-sm-88 {
        margin-bottom: 88px;
    }

    .mb-sm-96 {
        margin-bottom: 96px;
    }

    .mb-sm-104 {
        margin-bottom: 104px;
    }

    .mb-sm-112 {
        margin-bottom: 112px;
    }

    .mb-sm-120 {
        margin-bottom: 120px;
    }

    .mt-sm-0 {
        margin-top: 0 !important;
    }

    .mt-sm-8 {
        margin-top: 8px;
    }

    .mt-sm-16 {
        margin-top: 16px;
    }

    .mt-sm-20 {
        margin-top: 20px;
    }

    .mt-sm-24 {
        margin-top: 24px;
    }

    .mt-sm-32 {
        margin-top: 32px;
    }

    .mt-sm-40 {
        margin-top: 40px;
    }

    .mt-sm-48 {
        margin-top: 48px;
    }

    .mt-sm-56 {
        margin-top: 56px;
    }

    .mt-sm-64 {
        margin-top: 64px;
    }

    .mt-sm-72 {
        margin-top: 72px;
    }

    .mt-sm-80 {
        margin-top: 80px;
    }

    .mt-sm-88 {
        margin-top: 88px;
    }

    .mt-sm-96 {
        margin-top: 96px;
    }

    .mt-sm-104 {
        margin-top: 104px;
    }

    .mt-sm-112 {
        margin-top: 112px;
    }

    .mt-sm-120 {
        margin-top: 120px;
    }

    .p0-sm {
        padding: 0;
    }

    .pt-sm-0 {
        padding-top: 0;
    }

    .pt-sm-8 {
        padding-top: 8px;
    }

    .pt-sm-16 {
        padding-top: 16px;
    }

    .pt-sm-20 {
        padding-top: 20px;
    }

    .pt-sm-24 {
        padding-top: 24px;
    }

    .pt-sm-32 {
        padding-top: 32px;
    }

    .pt-sm-40 {
        padding-top: 40px;
    }

    .pt-sm-48 {
        padding-top: 48px;
    }

    .pt-sm-64 {
        padding-top: 64px;
    }

    .pt-sm-72 {
        padding-top: 72px;
    }

    .pt-sm-80 {
        padding-top: 80px;
    }

    .pt-sm-88 {
        padding-top: 88px;
    }

    .pt-sm-96 {
        padding-top: 96px;
    }

    .pt-sm-104 {
        padding-top: 104px;
    }

    .pt-sm-112 {
        padding-top: 112px;
    }

    .pt-sm-120 {
        padding-top: 120px;
    }

    .pt-sm-160 {
        padding-top: 160px;
    }

    .pb-sm-0 {
        padding-bottom: 0;
    }

    .pb-sm-8 {
        padding-bottom: 8px;
    }

    .pb-sm-16 {
        padding-bottom: 16px;
    }

    .pb-sm-20 {
        padding-bottom: 20px;
    }

    .pb-sm-24 {
        padding-bottom: 24px;
    }

    .pb-sm-32 {
        padding-bottom: 32px;
    }

    .pb-sm-40 {
        padding-bottom: 40px;
    }

    .pb-sm-48 {
        padding-bottom: 48px;
    }

    .pb-sm-64 {
        padding-bottom: 64px;
    }

    .pb-sm-72 {
        padding-bottom: 72px;
    }

    .pb-sm-80 {
        padding-bottom: 80px;
    }

    .pb-sm-88 {
        padding-bottom: 88px;
    }

    .pb-sm-96 {
        padding-bottom: 96px;
    }

    .pb-sm-104 {
        padding-bottom: 104px;
    }

    .pb-sm-112 {
        padding-bottom: 112px;
    }

    .pb-sm-120 {
        padding-bottom: 120px;
    }
}

@media all and (max-width: 767px) {
    .mb-xs-0 {
        margin-bottom: 0;
    }

    .mb-xs-8 {
        margin-bottom: 8px;
    }

    .mb-xs-15 {
        margin-bottom: 15px;
    }

    .mb-xs-16 {
        margin-bottom: 16px;
    }

    .mb-xs-20 {
        margin-bottom: 20px;
    }

    .mb-xs-24 {
        margin-bottom: 24px;
    }

    .mb-xs-32 {
        margin-bottom: 32px;
    }

    .mb-xs-40 {
        margin-bottom: 40px;
    }

    .mb-xs-48 {
        margin-bottom: 48px;
    }

    .mb-xs-64 {
        margin-bottom: 64px;
    }

    .mb-xs-72 {
        margin-bottom: 72px;
    }

    .mb-xs-80 {
        margin-bottom: 80px;
    }

    .mb-xs-88 {
        margin-bottom: 88px;
    }

    .mb-xs-96 {
        margin-bottom: 96px;
    }

    .mb-xs-104 {
        margin-bottom: 104px;
    }

    .mb-xs-112 {
        margin-bottom: 112px;
    }

    .mb-xs-120 {
        margin-bottom: 120px;
    }

    .mt-xs-0 {
        margin-top: 0 !important;
    }

    .mt-xs-8 {
        margin-top: 8px;
    }

    .mt-xs-16 {
        margin-top: 16px;
    }

    .mt-xs-20 {
        margin-top: 20px;
    }

    .mt-xs-24 {
        margin-top: 24px;
    }

    .mt-xs-32 {
        margin-top: 32px;
    }

    .mt-xs-40 {
        margin-top: 40px;
    }

    .mt-xs-48 {
        margin-top: 48px;
    }

    .mt-xs-56 {
        margin-top: 56px;
    }

    .mt-xs-64 {
        margin-top: 64px;
    }

    .mt-xs-72 {
        margin-top: 72px;
    }

    .mt-xs-80 {
        margin-top: 80px;
    }

    .mt-xs-88 {
        margin-top: 88px;
    }

    .mt-xs-96 {
        margin-top: 96px;
    }

    .mt-xs-104 {
        margin-top: 104px;
    }

    .mt-xs-112 {
        margin-top: 112px;
    }

    .mt-xs-120 {
        margin-top: 120px;
    }

    .p0-xs {
        padding: 0;
    }

    .pt-xs-0 {
        padding-top: 0;
    }

    .pt-xs-8 {
        padding-top: 8px;
    }

    .pt-xs-16 {
        padding-top: 16px;
    }

    .pt-xs-20 {
        padding-top: 20px;
    }

    .pt-xs-24 {
        padding-top: 24px;
    }

    .pt-xs-32 {
        padding-top: 32px;
    }

    .pt-xs-40 {
        padding-top: 40px;
    }

    .pt-xs-48 {
        padding-top: 48px;
    }

    .pt-xs-64 {
        padding-top: 64px;
    }

    .pt-xs-72 {
        padding-top: 72px;
    }

    .pt-xs-80 {
        padding-top: 80px;
    }

    .pt-xs-88 {
        padding-top: 88px;
    }

    .pt-xs-96 {
        padding-top: 96px;
    }

    .pt-xs-104 {
        padding-top: 104px;
    }

    .pt-xs-112 {
        padding-top: 112px;
    }

    .pt-xs-120 {
        padding-top: 120px;
    }

    .pt-xs-160 {
        padding-top: 160px;
    }

    .pt-xs-180 {
        padding-top: 180px;
    }

    .pt-xs-240 {
        padding-top: 240px !important;
    }

    .pb-xs-0 {
        padding-bottom: 0;
    }

    .pb-xs-8 {
        padding-bottom: 8px;
    }

    .pb-xs-16 {
        padding-bottom: 16px;
    }

    .pb-xs-20 {
        padding-bottom: 20px;
    }

    .pb-xs-24 {
        padding-bottom: 24px;
    }

    .pb-xs-32 {
        padding-bottom: 32px;
    }

    .pb-xs-40 {
        padding-bottom: 40px;
    }

    .pb-xs-48 {
        padding-bottom: 48px;
    }

    .pb-xs-64 {
        padding-bottom: 64px;
    }

    .pb-xs-72 {
        padding-bottom: 72px;
    }

    .pb-xs-80 {
        padding-bottom: 80px;
    }

    .pb-xs-88 {
        padding-bottom: 88px;
    }

    .pb-xs-96 {
        padding-bottom: 96px;
    }

    .pb-xs-104 {
        padding-bottom: 104px;
    }

    .pb-xs-112 {
        padding-bottom: 112px;
    }

    .pb-xs-120 {
        padding-bottom: 120px;
    }

    .pb-xs-180 {
        padding-bottom: 180px;
    }

    .pb-xs-240 {
        padding-bottom: 240px !important;
    }
}




@media screen and (max-width: 1400px) {
    .jumbotron {
        padding: 70px 0 450px;
    }
}


@media screen and (max-width: 640px) {

    .navbar-brand img {
        height: 48px;
    }

    .navbar .form-inline {
        width: 100%;
    }

    .navbar-nav {
        margin-top: 6px;
    }
    .navbar .nav-item {
        padding: 10px 0;
    }

    .navbar .nav-item:last-child {
        padding-bottom: 0;
    }

    .jumbotron {
        padding: 50px 0 250px;
    }

    .alert-dismissible {
        padding: 0.75rem 2rem;
    }
    .alert-dismissible .close {
        right: -24px;;
    }
}