/*
Template Name: Simulor - Responsive Bootstrap 4 Admin Dashboard
Version: 1.0.0
Author: CoderThemes
Email: support@coderthemes.com
File: Main Css File
*/

/* =================
01. General
02. Left Menu 
03. Topbar
04. Page Head
05. Footer
06. Widgets
07. Custom checkbox
08. Custom Radio
09. Ribbons
10. Print
11. Authentication Pages 
12. Components Demos
13. Error Page
14. FAQs
15. Maintenance
16. Timeline
17. Plugins Css
================= */

@import url("https://fonts.googleapis.com/css?family=Karla:400,600,700");
/* ============ 
01. General
===============*/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
}

/* ============ 
02. Left Menu
===============*/

.metismenu {
  padding: 0;
}

.metismenu ul {
  padding: 0;
}

.metismenu ul li {
  list-style: none;
  width: 100%;
}

.nav-second-level li a,
.nav-thrid-level li a {
  padding: 8px 20px 8px 10px;
  color: #7F8FA4;
  display: block;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 0.8125rem;
}

.nav-second-level li a:focus,
.nav-second-level li a:hover,
.nav-thrid-level li a:focus,
.nav-thrid-level li a:hover {
  color: #1991EB;
}

.nav-second-level>li>a {
  padding-left: 68px;
}

.nav-second-level li.active>a {
  color: #1991EB;
}

.nav-third-level>li>a {
  padding-left: 83px;
}

.nav-third-level li.active>a {
  color: #1991EB;
}

.logo {
  display: block;
}

.logo span.logo-lg {
  display: block;
}

.logo span.logo-sm {
  display: none;
}

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.content-page {
  margin-left: 240px;
  overflow: hidden;
  padding: 5px 20px;
  min-height: 80vh;
}

.left-side-menu {
  width: 240px;
  z-index: 10;
  /* background: #f7f7f7; */
  background: #FFF;
  border-right: 2px solid #f2f2f2;
  bottom: 0;
  padding: 30px 0;
  position: fixed;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  top: 0;
}

#sidebar-menu>ul>li>a {
  /* color: #7F8FA4; */
  color: #7F8FA4;
  display: block;
  padding: 10px 30px;
  margin: 5px 0;
  font-size: 0.9375rem;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#sidebar-menu>ul>li>a:hover,
#sidebar-menu>ul>li>a:focus,
#sidebar-menu>ul>li>a:active {
  color: #1991EB;
  text-decoration: none;
}

#sidebar-menu>ul>li>a>span {
  vertical-align: middle;
}

#sidebar-menu>ul>li>a i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 10px 0 3px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

#sidebar-menu>ul>li>a .drop-arrow {
  float: right;
}

#sidebar-menu>ul>li>a .drop-arrow i {
  margin-right: 0;
}

#sidebar-menu>ul>li>a.active {
  color: #1991EB;
  background: #DDEFF9;
  border-left: 5px solid #1991EB;
}

#sidebar-menu .menu-arrow {
  -webkit-transition: -webkit-transform .15s;
  transition: -webkit-transform .15s;
  transition: transform .15s;
  transition: transform .15s, -webkit-transform .15s;
  position: absolute;
  right: 30px;
  display: inline-block;
  font-family: 'Material Design Icons';
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#sidebar-menu .menu-arrow:before {
  content: "\F142";
}

#sidebar-menu .badge {
  margin-top: 4px;
}

#sidebar-menu li.active>a>span.menu-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#sidebar-menu .menu-title {
  padding: 12px 30px;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #7F8FA4;
  font-weight: 500;
}

.enlarged #wrapper .left-side-menu {
  position: absolute;
  padding-top: 0;
  width: 70px;
  z-index: 5;
}

.enlarged #wrapper .left-side-menu .slimScrollDiv,
.enlarged #wrapper .left-side-menu .slimscroll-menu {
  overflow: inherit !important;
  height: auto !important;
}

.enlarged #wrapper .left-side-menu .slimScrollBar {
  visibility: hidden;
}

.enlarged #wrapper .left-side-menu #sidebar-menu .menu-title,
.enlarged #wrapper .left-side-menu #sidebar-menu .menu-arrow,
.enlarged #wrapper .left-side-menu #sidebar-menu .label,
.enlarged #wrapper .left-side-menu #sidebar-menu .badge,
.enlarged #wrapper .left-side-menu #sidebar-menu .collapse.in {
  display: none !important;
}

.enlarged #wrapper .left-side-menu #sidebar-menu .nav.collapse {
  height: inherit !important;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a {
  padding: 15px 20px;
  min-height: 56px;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a:hover,
.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a:active,
.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a:focus {
  color: #1991EB;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a i {
  font-size: 1.125rem;
  margin-right: 20px;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li>a span {
  display: none;
  padding-left: 10px;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>a {
  position: relative;
  width: 260px;
  color: #fff;
  background-color: #1991EB;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>a span {
  display: inline;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover a.open :after,
.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover a.active :after {
  display: none;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  height: auto !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>ul a {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul>li:hover>ul a:hover {
  color: #1991EB;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul ul {
  margin-top: -5px;
  padding: 5px 0;
  z-index: 9999;
  background-color: #f7f7f7;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul ul li:hover>ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul ul li>a span.pull-right {
  position: absolute;
  right: 20px;
  top: 12px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.enlarged #wrapper .left-side-menu #sidebar-menu>ul ul li.active a {
  color: #1991EB;
}

.enlarged #wrapper .help-box {
  display: none;
}

.enlarged #wrapper .content-page {
  margin-left: 70px;
}

.enlarged #wrapper .footer {
  left: 70px;
}

body.enlarged {
  min-height: 1200px;
}

@media (max-width: 1024px) {
  .logo span.logo-lg {
    display: none;
  }
  .logo span.logo-sm {
    display: block;
    line-height: 70px;
    color: #1991EB;
  }
}

@media (max-width: 767.98px) {
  body {
    overflow-x: hidden;
  }
  .left-side-menu {
    display: none;
    z-index: 10 !important;
  }
  .sidebar-enable .left-side-menu {
    display: block;
  }
  .navbar-nav.navbar-right {
    float: right;
  }
  .content-page {
    margin-left: 0 !important;
    padding: 5px 10px;
  }
  .enlarged .left-side-menu {
    margin-left: -70px;
  }
  .logo span.logo-lg {
    display: block;
  }
  .logo span.logo-sm {
    display: none;
  }
  .pro-user-name {
    display: none;
  }
}

/* =============
  Small Menu
============= */

.left-side-menu-sm {
  width: 160px;
  text-align: center;
}

.left-side-menu-sm #sidebar-menu>ul>li>a>i {
  display: block;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  margin: 0;
}

.left-side-menu-sm #sidebar-menu>ul ul a {
  padding: 10px 20px;
}

.left-side-menu-sm .menu-arrow,
.left-side-menu-sm .badge {
  display: none !important;
}

.left-side-menu-sm+.content-page {
  margin-left: 160px;
}

.left-side-menu-sm+.content-page .footer {
  left: 160px;
}

.enlarged #wrapper .left-side-menu-sm {
  text-align: left;
}

.enlarged #wrapper .left-side-menu-sm ul li a i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  vertical-align: middle;
  width: 20px;
}

/* =============
  Menu - Dark
============= */

.left-side-menu-dark {
  background-color: #343b4a;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-right: 2px solid #384050;
}

.left-side-menu-dark #sidebar-menu>ul>li>a {
  color: #9097a7;
}

.left-side-menu-dark #sidebar-menu>ul>li>a:hover,
.left-side-menu-dark #sidebar-menu>ul>li>a:focus,
.left-side-menu-dark #sidebar-menu>ul>li>a:active {
  color: #c8cddc;
}

.left-side-menu-dark #sidebar-menu>ul>li>a.active {
  color: #ffffff;
  background-color: #3f4759;
  border-right-color: #ffffff;
}

.left-side-menu-dark #sidebar-menu .menu-title {
  color: #adb5bd;
}

.left-side-menu-dark .nav-second-level li a,
.left-side-menu-dark .nav-thrid-level li a {
  color: #9097a7;
}

.left-side-menu-dark .nav-second-level li a:focus,
.left-side-menu-dark .nav-second-level li a:hover,
.left-side-menu-dark .nav-thrid-level li a:focus,
.left-side-menu-dark .nav-thrid-level li a:hover {
  background-color: transparent;
  color: #c8cddc;
}

.left-side-menu-dark .nav-second-level li.active>a,
.left-side-menu-dark .nav-third-level li.active>a {
  color: #ffffff;
}

.enlarged #wrapper .left-side-menu-dark #sidebar-menu>ul>li:hover>a {
  background-color: #3f4759;
}

/* ============ 
03. Topbar
===============*/

.navbar-custom {
  /* padding: 35px 25px 35px 38px; */
  height: 70px;
  max-height: 70px;
  background: #FFF;
 /*  -webkit-box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15); */
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
  margin: -5px -20px 0;
}

.navbar-custom .topbar-right-menu li {
  float: left;
}

.navbar-custom .topbar-right-menu .nav-link {
  padding: 0;
  /* color: #f7f7f7; */
  color: #7F8FA4;
  min-width: 32px;
  display: block;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  margin: 0 8px;
  max-height: 70px;
}

.navbar-custom .app-search {
  padding: 16px 0;
  overflow: hidden;
}

.navbar-custom .app-search form {
  max-width: 600px;
}

.navbar-custom .app-search .form-control {
  border: none;
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  /* color: #fff; */
  color: #7F8FA4;
  /* background-color: #5f6678; */
  background: #F4F8F9;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-custom .app-search .input-group-append {
  margin-left: 0;
  z-index: 4;
}

.navbar-custom .button-menu-mobile {
  border: none;
  color: #7F8FA4;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  width: 60px;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.navbar-custom .button-menu-mobile.disable-btn {
  display: none;
}

.navbar-custom-light {
  background-color: #ffffff;
  /* Search */
}

.navbar-custom-light .topbar-right-menu .nav-link {
  color: #8e99a2;
}

.navbar-custom-light .button-menu-mobile {
  color: #323a46;
}

.navbar-custom-light .app-search .form-control {
  color: #323a46;
  background-color: #f2f2f2;
}

/* Notification */

.noti-scroll {
  max-height: 230px;
}

.notification-list {
  margin-left: 0;
}

.notification-list .dropdown-menu.dropdown-menu-right {
  -webkit-transform: none !important;
  transform: none !important;
  top: 100% !important;
  right: 0 !important;
  left: auto !important;
}

.notification-list .noti-title {
  background-color: #fff;
  padding: 15px 20px;
}

.notification-list .noti-icon {
  font-size: 21px;
  vertical-align: middle;
}

.notification-list .noti-icon-badge {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 10px;
}

.notification-list .notify-item {
  padding: 12px 20px;
}

.notification-list .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
}

.notification-list .notify-item .notify-details {
  margin-bottom: 5px;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-list .notify-item .notify-details b {
  font-weight: 500;
}

.notification-list .notify-item .notify-details small {
  display: block;
}

.notification-list .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.notification-list .notify-item .user-msg {
  margin-left: 45px;
  white-space: normal;
  line-height: 16px;
}

.notification-list .profile-dropdown .notify-item {
  padding: 7px 20px;
}

.profile-dropdown {
  width: 170px;
}

.profile-dropdown i {
  vertical-align: middle;
  margin-right: 5px;
}

.profile-dropdown span {
  vertical-align: middle;
}

.nav-user {
  padding: 0 12px !important;
}

.nav-user img {
  height: 32px;
  width: 32px;
}

@media (max-width: 1024px) {
  .navbar-custom {
    left: 70px;
    right: 0;
  }
}

@media (max-width: 767.98px) {
  .app-search {
    display: none;
  }
  .navbar-custom {
    left: 0;
    padding: 0 10px;
    margin: -5px -10px 0;
  }
  .navbar-custom .button-menu-mobile.disable-btn {
    display: inline-block;
  }
}

/* ============ 
04. Page Head
===============*/

.page-title-box  {
  padding: 10px 0;
}

.page-title-box .page-title {
  font-size: 24px;
  /* margin: 0; */
  line-height: 75px;
  /* color: #323a46; */
  color: #1991EB;
  font-weight: 400;
  display: inline;
}

.page-title-box span {
  margin-left: 10px;
  color: #7F8FA4;
}

.page-title-box .page-title-right {
  float: right;
  margin-top: 20px;
}

.page-title-box .breadcrumb {
  padding-top: 8px;
}

@media (max-width: 767.98px) {
  .page-title-box .page-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 70px;
  }
  .page-title-box .breadcrumb {
    display: none;
  }
}

@media (max-width: 640px) {
  .page-title-box .page-title-right {
    display: none;
  }
}

@media (max-width: 419px) {
  .page-title-box .breadcrumb {
    display: none;
  }
}

/* ============ 
05. Footer
===============*/

.footer {
  bottom: 0;
  padding: 19px 15px 20px;
  position: absolute;
  right: 0;
  color: #98a6ad;
  left: 240px;
  background-color: #fbfbfb;
}

.footer .footer-links a {
  color: #98a6ad;
  margin-left: 1.5rem;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.footer .footer-links a:hover {
  color: #323a46;
}

.footer .footer-links a:first-of-type {
  margin-left: 0;
}

@media (max-width: 767.98px) {
  .footer {
    left: 0 !important;
    text-align: center;
  }
}

/* ============ 
06. Widgets
===============*/

.widget-flat {
  position: relative;
  overflow: hidden;
}

.widget-flat i.widget-icon {
  font-size: 36px;
}

/* ============ 
07. Custom checkbox
===============*/

.checkbox label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: normal;
  margin-bottom: 0;
}

.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 3px;
  border: 2px solid #98a6ad;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  margin-left: -18px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 18px;
  outline: none !important;
  top: 2px;
}

.checkbox label::after {
  color: #8e99a2;
  display: inline-block;
  font-size: 11px;
  height: 18px;
  left: 0;
  margin-left: -18px;
  padding-left: 3px;
  padding-top: 2px;
  position: absolute;
  top: 0;
  width: 18px;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.checkbox input[type="checkbox"]:disabled+label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:focus+label::before {
  outline-offset: -2px;
  outline: none;
}

.checkbox input[type="checkbox"]:checked+label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  display: table;
  width: 4px;
  height: 8px;
  border: 2px solid #8e99a2;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input[type="checkbox"]:disabled+label::before {
  background-color: #f7f7f7;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox.checkbox-single input {
  height: 18px;
  width: 18px;
  position: absolute;
}

.checkbox.checkbox-single label {
  height: 18px;
  width: 18px;
}

.checkbox.checkbox-single label:before {
  margin-left: 0;
}

.checkbox.checkbox-single label:after {
  margin-left: 0;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
  background-color: #1991EB;
  border-color: #1991EB;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
  border-color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before {
  background-color: #f1556c;
  border-color: #f1556c;
}

.checkbox-danger input[type="checkbox"]:checked+label::after {
  border-color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before {
  background-color: #4b88e4;
  border-color: #4b88e4;
}

.checkbox-info input[type="checkbox"]:checked+label::after {
  border-color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before {
  background-color: #f7b84b;
  border-color: #f7b84b;
}

.checkbox-warning input[type="checkbox"]:checked+label::after {
  border-color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before {
  background-color: #25b343;
  border-color: #25b343;
}

.checkbox-success input[type="checkbox"]:checked+label::after {
  border-color: #fff;
}

.checkbox-purple input[type="checkbox"]:checked+label::before {
  background-color: #6b5eae;
  border-color: #6b5eae;
}

.checkbox-purple input[type="checkbox"]:checked+label::after {
  border-color: #fff;
}

.checkbox-pink input[type="checkbox"]:checked+label::before {
  background-color: #f672a7;
  border-color: #f672a7;
}

.checkbox-pink input[type="checkbox"]:checked+label::after {
  border-color: #fff;
}

.checkbox-dark input[type="checkbox"]:checked+label::before {
  background-color: #323a46;
  border-color: #323a46;
}

.checkbox-dark input[type="checkbox"]:checked+label::after {
  border-color: #fff;
}

/* ============ 
08. Custom Radio
===============*/

.radio label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: normal;
  margin-bottom: 0;
}

.radio label::before {
  -o-transition: border 0.5s ease-in-out;
  -webkit-transition: border 0.5s ease-in-out;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #98a6ad;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  margin-left: -18px;
  position: absolute;
  transition: border 0.5s ease-in-out;
  width: 18px;
  outline: none !important;
}

.radio label::after {
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  background-color: #8e99a2;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  height: 10px;
  left: 6px;
  margin-left: -20px;
  position: absolute;
  top: 4px;
  transform: scale(0, 0);
  transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  width: 10px;
}

.radio input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.radio input[type="radio"]:disabled+label {
  opacity: 0.65;
}

.radio input[type="radio"]:focus+label::before {
  outline-offset: -2px;
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted;
}

.radio input[type="radio"]:checked+label::after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio.radio-single label {
  height: 17px;
}

.radio-primary input[type="radio"]+label::after {
  background-color: #1991EB;
}

.radio-primary input[type="radio"]:checked+label::before {
  border-color: #1991EB;
}

.radio-primary input[type="radio"]:checked+label::after {
  background-color: #1991EB;
}

.radio-danger input[type="radio"]+label::after {
  background-color: #f1556c;
}

.radio-danger input[type="radio"]:checked+label::before {
  border-color: #f1556c;
}

.radio-danger input[type="radio"]:checked+label::after {
  background-color: #f1556c;
}

.radio-info input[type="radio"]+label::after {
  background-color: #4b88e4;
}

.radio-info input[type="radio"]:checked+label::before {
  border-color: #4b88e4;
}

.radio-info input[type="radio"]:checked+label::after {
  background-color: #4b88e4;
}

.radio-warning input[type="radio"]+label::after {
  background-color: #f7b84b;
}

.radio-warning input[type="radio"]:checked+label::before {
  border-color: #f7b84b;
}

.radio-warning input[type="radio"]:checked+label::after {
  background-color: #f7b84b;
}

.radio-success input[type="radio"]+label::after {
  background-color: #25b343;
}

.radio-success input[type="radio"]:checked+label::before {
  border-color: #25b343;
}

.radio-success input[type="radio"]:checked+label::after {
  background-color: #25b343;
}

.radio-purple input[type="radio"]+label::after {
  background-color: #6b5eae;
}

.radio-purple input[type="radio"]:checked+label::before {
  border-color: #6b5eae;
}

.radio-purple input[type="radio"]:checked+label::after {
  background-color: #6b5eae;
}

.radio-pink input[type="radio"]+label::after {
  background-color: #f672a7;
}

.radio-pink input[type="radio"]:checked+label::before {
  border-color: #f672a7;
}

.radio-pink input[type="radio"]:checked+label::after {
  background-color: #f672a7;
}

/* ============ 
09. Ribbons
===============*/

/* =================
   Ribbons
==================== */

.ribbon-box {
  position: relative;
  /* Ribbon two */
}

.ribbon-box .ribbon {
  position: relative;
  float: left;
  clear: both;
  padding: 5px 12px 5px 12px;
  margin-left: -30px;
  margin-bottom: 15px;
  -webkit-box-shadow: 2px 5px 10px rgba(50, 58, 70, 0.15);
  -o-box-shadow: 2px 5px 10px rgba(50, 58, 70, 0.15);
  box-shadow: 2px 5px 10px rgba(50, 58, 70, 0.15);
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.ribbon-box .ribbon:before {
  content: " ";
  border-style: solid;
  border-width: 10px;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  margin-bottom: -10px;
  z-index: -1;
}

.ribbon-box .ribbon+p {
  clear: both;
}

.ribbon-box .ribbon-primary {
  background: #1991EB;
}

.ribbon-box .ribbon-primary:before {
  border-color: #007f8e transparent transparent;
}

.ribbon-box .ribbon-success {
  background: #25b343;
}

.ribbon-box .ribbon-success:before {
  border-color: #1c8933 transparent transparent;
}

.ribbon-box .ribbon-info {
  background: #4b88e4;
}

.ribbon-box .ribbon-info:before {
  border-color: #216bdb transparent transparent;
}

.ribbon-box .ribbon-warning {
  background: #f7b84b;
}

.ribbon-box .ribbon-warning:before {
  border-color: #f5a51a transparent transparent;
}

.ribbon-box .ribbon-danger {
  background: #f1556c;
}

.ribbon-box .ribbon-danger:before {
  border-color: #ed2643 transparent transparent;
}

.ribbon-box .ribbon-dark {
  background: #323a46;
}

.ribbon-box .ribbon-dark:before {
  border-color: #1d2128 transparent transparent;
}

.ribbon-box .ribbon-two {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon-box .ribbon-two span {
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  position: absolute;
  top: 19px;
  left: -21px;
  font-weight: 600;
}

.ribbon-box .ribbon-two span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon-box .ribbon-two span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.ribbon-box .ribbon-two-primary span {
  background: #1991EB;
}

.ribbon-box .ribbon-two-primary span:before {
  border-left: 3px solid #006875;
  border-top: 3px solid #006875;
}

.ribbon-box .ribbon-two-primary span:after {
  border-right: 3px solid #006875;
  border-top: 3px solid #006875;
}

.ribbon-box .ribbon-two-success span {
  background: #25b343;
}

.ribbon-box .ribbon-two-success span:before {
  border-left: 3px solid #18742b;
  border-top: 3px solid #18742b;
}

.ribbon-box .ribbon-two-success span:after {
  border-right: 3px solid #18742b;
  border-top: 3px solid #18742b;
}

.ribbon-box .ribbon-two-info span {
  background: #4b88e4;
}

.ribbon-box .ribbon-two-info span:before {
  border-left: 3px solid #1e60c5;
  border-top: 3px solid #1e60c5;
}

.ribbon-box .ribbon-two-info span:after {
  border-right: 3px solid #1e60c5;
  border-top: 3px solid #1e60c5;
}

.ribbon-box .ribbon-two-warning span {
  background: #f7b84b;
}

.ribbon-box .ribbon-two-warning span:before {
  border-left: 3px solid #eb990a;
  border-top: 3px solid #eb990a;
}

.ribbon-box .ribbon-two-warning span:after {
  border-right: 3px solid #eb990a;
  border-top: 3px solid #eb990a;
}

.ribbon-box .ribbon-two-danger span {
  background: #f1556c;
}

.ribbon-box .ribbon-two-danger span:before {
  border-left: 3px solid #e71332;
  border-top: 3px solid #e71332;
}

.ribbon-box .ribbon-two-danger span:after {
  border-right: 3px solid #e71332;
  border-top: 3px solid #e71332;
}

.ribbon-box .ribbon-two-dark span {
  background: #323a46;
}

.ribbon-box .ribbon-two-dark span:before {
  border-left: 3px solid #121519;
  border-top: 3px solid #121519;
}

.ribbon-box .ribbon-two-dark span:after {
  border-right: 3px solid #121519;
  border-top: 3px solid #121519;
}

/* ============ 
10. Print
===============*/

@media print {
  .left-side-menu,
  .right-bar,
  .page-title-box,
  .navbar-custom,
  .footer {
    display: none;
  }
  .card-body,
  .content-page,
  .right-bar,
  .content,
  body {
    padding: 0;
    margin: 0;
  }
}

/* ============ 
11. Authentication Pages 
===============*/

body.authentication-bg {
  background-color: #f7f7f7;
  background-size: cover;
  background-position: center;
}

.logout-icon {
  width: 140px;
}

/* ============ 
12. Components Demos
===============*/

.button-list {
  margin-left: -8px;
  margin-bottom: -12px;
}

.button-list .btn {
  margin-bottom: 12px;
  margin-left: 8px;
}

.icons-list-demo div {
  cursor: pointer;
  line-height: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.icons-list-demo div p {
  margin-bottom: 0;
  line-height: inherit;
}

.icons-list-demo i {
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 12px;
  color: rgba(50, 58, 70, 0.7);
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icons-list-demo .col-md-4 {
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  margin-bottom: 10px;
}

.icons-list-demo .col-md-4:hover,
.icons-list-demo .col-md-4:hover i {
  color: #1991EB;
}

/* ============ 
13. Error Page
===============*/

.text-error {
  color: #1991EB;
  text-shadow: rgba(0, 172, 193, 0.3) 5px 1px, rgba(0, 172, 193, 0.2) 10px 3px;
  font-size: 5.25rem;
  line-height: 5.625rem;
}

/* ============ 
14. FAQs
===============*/

.faq-question-q-box {
  height: 30px;
  width: 30px;
  color: #fff;
  background-color: #1991EB;
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  border-radius: 50%;
  float: left;
  font-weight: 700;
  line-height: 30px;
}

.faq-question {
  margin-top: 0;
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
}

.faq-answer {
  margin-left: 50px;
  color: #98a6ad;
}

/* ============ 
15. Maintenance
===============*/

.maintenance-icon {
  font-size: 22px;
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  height: 60px;
  display: inline-block;
  width: 60px;
  line-height: 68px;
  border-radius: 50%;
}

/* ============ 
16. Timeline
===============*/

.timeline {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin-bottom: 50px;
  position: relative;
  table-layout: fixed;
  width: 100%;
}

.timeline .w-lg {
  min-width: 140px;
}

.timeline .time-show {
  margin-bottom: 30px;
  margin-left: -70px;
  margin-top: 30px;
  position: relative;
}

.timeline:before {
  background-color: #1991EB;
  bottom: 0;
  content: "";
  left: 70px;
  position: absolute;
  top: 30px;
  width: 2px;
  z-index: 0;
}

.timeline .timeline-icon {
  -webkit-border-radius: 50%;
  background-color: #1991EB;
  border-radius: 50%;
  display: block;
  height: 20px;
  left: -10px;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 20px;
}

.timeline .timeline-icon i {
  color: #fff;
  font-size: 10px;
  margin-top: 3px;
  position: absolute;
  left: 5px;
}

.timeline .time-icon:before {
  font-size: 16px;
  margin-top: 5px;
}

.timeline-item {
  padding-left: 70px;
}

.timeline-item .timeline-desk {
  position: relative;
}

.timeline-item .timeline-desk .timeline-box {
  padding: 15px 30px 15px 40px;
}

.timeline-item .timeline-desk .album img {
  height: 36px;
  width: auto;
  border-radius: 3px;
}

.member-card .member-thumb {
  width: 80px;
}

.social-links li a {
  border-radius: 50%;
  color: #adb5bd;
  display: inline-block;
  height: 30px;
  line-height: 27px;
  border: 2px solid #adb5bd;
  text-align: center;
  width: 30px;
}

.social-links li a:hover {
  color: #8e99a2;
  border-color: #8e99a2;
}

/* ============ 
17. Plugins Css
===============*/

/*!
* metismenu - v2.7.7
* A jQuery menu plugin
* https://github.com/onokumus/metismenu#readme
*
* Made by Osman Nuri Okumus <onokumus@gmail.com> (https://github.com/onokumus)
* Under MIT License
*/

.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}

*[dir="rtl"] .metismenu .arrow {
  float: left;
}

/*
 * Require Bootstrap 3.x
 * https://github.com/twbs/bootstrap
*/

.metismenu .glyphicon.arrow:before {
  content: "\e079";
}

.metismenu .active>a>.glyphicon.arrow:before {
  content: "\e114";
}

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.metismenu .fa.arrow:before {
  content: "\f104";
}

.metismenu .active>a>.fa.arrow:before {
  content: "\f107";
}

/*
 * Require Ionicons
 * http://ionicons.com/
*/

.metismenu .ion.arrow:before {
  content: "\f3d2";
}

.metismenu .active>a>.ion.arrow:before {
  content: "\f3d0";
}

.metismenu .plus-times {
  float: right;
}

*[dir="rtl"] .metismenu .plus-times {
  float: left;
}

.metismenu .fa.plus-times:before {
  content: "\f067";
}

.metismenu .active>a>.fa.plus-times {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.metismenu .plus-minus {
  float: right;
}

*[dir="rtl"] .metismenu .plus-minus {
  float: left;
}

.metismenu .fa.plus-minus:before {
  content: "\f067";
}

.metismenu .active>a>.fa.plus-minus:before {
  content: "\f068";
}

.metismenu .collapse {
  display: none;
}

.metismenu .collapse.in {
  display: block;
}

.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
}

.metismenu .has-arrow {
  position: relative;
}

.metismenu .has-arrow::after {
  position: absolute;
  content: '';
  width: .5em;
  height: .5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

*[dir="rtl"] .metismenu .has-arrow::after {
  right: auto;
  left: 1em;
  -webkit-transform: rotate(135deg) translate(0, -50%);
  transform: rotate(135deg) translate(0, -50%);
}

.metismenu .active>.has-arrow::after,
.metismenu .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%);
}

/*# sourceMappingURL=metisMenu.css.map */

.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 278px;
  max-width: none;
  padding: 0;
  margin-top: 7px;
  top: 100px;
  left: 20px;
  z-index: 3001;
  display: none;
  font-family: arial;
  font-size: 15px;
  line-height: 1em;
}

.daterangepicker:before,
.daterangepicker:after {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}

.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}

.daterangepicker.opensleft:before {
  right: 9px;
}

.daterangepicker.opensleft:after {
  right: 10px;
}

.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.openscenter:after {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

.daterangepicker.opensright:before {
  left: 9px;
}

.daterangepicker.opensright:after {
  left: 10px;
}

.daterangepicker.drop-up {
  margin-top: -7px;
}

.daterangepicker.drop-up:before {
  top: initial;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}

.daterangepicker.drop-up:after {
  top: initial;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}

.daterangepicker.single .daterangepicker .ranges,
.daterangepicker.single .drp-calendar {
  float: none;
}

.daterangepicker.single .drp-selected {
  display: none;
}

.daterangepicker.show-calendar .drp-calendar {
  display: block;
}

.daterangepicker.show-calendar .drp-buttons {
  display: block;
}

.daterangepicker.auto-apply .drp-buttons {
  display: none;
}

.daterangepicker .drp-calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}

.daterangepicker .drp-calendar.right {
  padding: 8px;
}

.daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid black;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}

.daterangepicker .calendar-table .next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 32px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
}

.daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
}

.daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}

.daterangepicker td.week,
.daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}

.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}

.daterangepicker th.month {
  width: auto;
}

.daterangepicker td.disabled,
.daterangepicker option.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}

.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
  width: 50px;
  margin: 0 auto;
  background: #eee;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}

.daterangepicker .drp-buttons {
  clear: both;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}

.daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}

.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 1px solid #ddd;
}

.daterangepicker .ranges {
  float: none;
  text-align: left;
  margin: 0;
}

.daterangepicker.show-calendar .ranges {
  margin-top: 8px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}

.daterangepicker .ranges li:hover {
  background-color: #eee;
}

.daterangepicker .ranges li.active {
  background-color: #08c;
  color: #fff;
}

/*  Larger Screen Styling */

@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }
  .daterangepicker .ranges ul {
    width: 140px;
  }
  .daterangepicker.single .ranges ul {
    width: 100%;
  }
  .daterangepicker.single .drp-calendar.left {
    clear: none;
  }
  .daterangepicker.single.ltr .ranges,
  .daterangepicker.single.ltr .drp-calendar {
    float: left;
  }
  .daterangepicker.single.rtl .ranges,
  .daterangepicker.single.rtl .drp-calendar {
    float: right;
  }
  .daterangepicker.ltr {
    direction: ltr;
    text-align: left;
  }
  .daterangepicker.ltr .drp-calendar.left {
    clear: left;
    margin-right: 0;
  }
  .daterangepicker.ltr .drp-calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.ltr .drp-calendar.right {
    margin-left: 0;
  }
  .daterangepicker.ltr .drp-calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.ltr .drp-calendar.left .calendar-table {
    padding-right: 8px;
  }
  .daterangepicker.ltr .ranges,
  .daterangepicker.ltr .drp-calendar {
    float: left;
  }
  .daterangepicker.rtl {
    direction: rtl;
    text-align: right;
  }
  .daterangepicker.rtl .drp-calendar.left {
    clear: right;
    margin-left: 0;
  }
  .daterangepicker.rtl .drp-calendar.left .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.rtl .drp-calendar.right {
    margin-right: 0;
  }
  .daterangepicker.rtl .drp-calendar.right .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.rtl .drp-calendar.left .calendar-table {
    padding-left: 12px;
  }
  .daterangepicker.rtl .ranges,
  .daterangepicker.rtl .drp-calendar {
    text-align: right;
    float: right;
  }
}

@media (min-width: 730px) {
  .daterangepicker .ranges {
    width: auto;
  }
  .daterangepicker.ltr .ranges {
    float: left;
  }
  .daterangepicker.rtl .ranges {
    float: right;
  }
  .daterangepicker .drp-calendar.left {
    clear: none !important;
  }
}

.jq-toast-wrap,
.jq-toast-wrap * {
  margin: 0;
  padding: 0;
}

.jq-toast-wrap {
  display: block;
  position: fixed;
  width: 250px;
  pointer-events: none !important;
  letter-spacing: normal;
  z-index: 9000 !important;
}

.jq-toast-wrap.bottom-left {
  bottom: 20px;
  left: 20px;
}

.jq-toast-wrap.bottom-right {
  bottom: 20px;
  right: 40px;
}

.jq-toast-wrap.top-left {
  top: 20px;
  left: 20px;
}

.jq-toast-wrap.top-right {
  top: 20px;
  right: 40px;
}

.jq-toast-single {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0 0 5px;
  border-radius: 4px;
  font-size: 12px;
  font-family: arial, sans-serif;
  line-height: 17px;
  position: relative;
  pointer-events: all !important;
  background-color: #444;
  color: #fff;
}

.jq-toast-single h2 {
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0 0 7px;
  background: 0 0;
  color: inherit;
  line-height: inherit;
  letter-spacing: normal;
}

.jq-toast-single a {
  color: #eee;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
  font-size: 12px;
}

.jq-toast-single ul {
  margin: 0 0 0 15px;
  background: 0 0;
  padding: 0;
}

.jq-toast-single ul li {
  list-style-type: disc !important;
  line-height: 17px;
  background: 0 0;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

.close-jq-toast-single {
  position: absolute;
  top: 3px;
  right: 7px;
  font-size: 14px;
  cursor: pointer;
}

.jq-toast-loader {
  display: block;
  position: absolute;
  top: -2px;
  height: 5px;
  width: 0;
  left: 0;
  border-radius: 5px;
  background: red;
}

.jq-toast-loaded {
  width: 100%;
}

.jq-has-icon {
  padding: 10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px;
}

.jq-icon-info {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=);
  background-color: #31708f;
  color: #d9edf7;
  border-color: #bce8f1;
}

.jq-icon-warning {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=);
  background-color: #8a6d3b;
  color: #fcf8e3;
  border-color: #faebcc;
}

.jq-icon-error {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=);
  background-color: #a94442;
  color: #f2dede;
  border-color: #ebccd1;
}

.jq-icon-success {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==);
  color: #dff0d8;
  background-color: #3c763d;
  border-color: #d6e9c6;
}

.select2-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 28px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

.select2-container .select2-selection--multiple {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-search--inline {
  float: left;
}

.select2-container .select2-search--inline .select2-search__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(#eee));
  background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}

.select2-container--classic .select2-selection--single .select2-selection__placeholder {
  color: #999;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#ccc));
  background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}

.select2-container--classic .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: transparent;
  border: none;
}

.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, #eee));
  background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #eee), to(#fff));
  background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
}

.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__clear {
  display: none;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
  color: #888;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #555;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: #fff;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option[role=group] {
  padding: 0;
}

.select2-container--classic .select2-results__option[aria-disabled=true] {
  color: grey;
}

.select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #3875d7;
  color: #fff;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: #999;
}

.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: '';
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
  background: none;
}

.irs-from,
.irs-to,
.irs-single {
  background: #1991EB;
}

.irs-from:after,
.irs-to:after,
.irs-single:after {
  border-top-color: #1991EB;
}

.irs-bar {
  background-color: #1991EB;
}

.irs-line-left {
  background-color: #dee2e6;
  border-radius: 3px 0 0 3px;
}

.irs-line-mid {
  background-color: #dee2e6;
}

.irs-line-right {
  background-color: #dee2e6;
  border-radius: 0 3px 3px 0;
}

.calendar {
  float: left;
  margin-bottom: 0;
}

.fc-view {
  margin-top: 30px;
}

.none-border .modal-footer {
  border-top: none;
}

.fc-toolbar {
  margin: 15px 0 5px 0;
}

.fc-toolbar h2 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-transform: uppercase;
}

.fc-day-grid-event .fc-time {
  font-weight: 700;
}

.fc-day {
  background: #fff;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc th.fc-widget-header {
  background: #f7f7f7;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
  border-color: #f7f7f7;
}

.fc-button {
  background: #f7f7f7;
  border: none;
  color: #8e99a2;
  text-transform: capitalize;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  margin: 0 3px;
  padding: 6px 12px;
  height: auto;
}

.fc-text-arrow {
  font-family: inherit;
  font-size: 1rem;
}

.fc-state-hover {
  background: #f7f7f7;
}

.fc-state-highlight {
  background: #dee2e6;
}

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background-color: #1991EB;
  color: #fff;
  text-shadow: none;
}

.fc-cell-overlay {
  background: #dee2e6;
}

.fc-unthemed .fc-today {
  background: #fff;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
}

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 8px 10px;
  color: #fff;
}

.fc-basic-view td.fc-week-number span {
  padding-right: 8px;
}

.fc-basic-view td.fc-day-number {
  padding-right: 8px;
}

.fc-basic-view .fc-content {
  color: #fff;
}

.fc-time-grid-event .fc-content {
  color: #fff;
}

@media (max-width: 767.98px) {
  .fc-toolbar .fc-left,
  .fc-toolbar .fc-right,
  .fc-toolbar .fc-center {
    float: none;
    display: block;
    clear: both;
    margin: 10px 0;
  }
  .fc .fc-toolbar>*>* {
    float: none;
  }
  .fc-today-button {
    display: none;
  }
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #fff !important;
}

.jqsfield {
  color: #323a46 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: "Karla", sans-serif !important;
  font-weight: 700 !important;
}

.dataTables_wrapper.container-fluid {
  padding: 0;
}

table.dataTable {
  border-collapse: collapse !important;
  margin-bottom: 15px !important;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
  background-color: #1991EB;
}

table.dataTable tbody>tr.selected td,
table.dataTable tbody>tr>.selected td {
  border-color: #1991EB;
}

table.dataTable tbody td:focus {
  outline: none !important;
}

table.dataTable tbody th.focus,
table.dataTable tbody td.focus {
  outline: 2px solid #1991EB !important;
  outline-offset: -1px;
  background-color: rgba(0, 172, 193, 0.15);
}

.dataTables_info {
  font-weight: 600;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before {
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  background-color: #25b343;
  top: 0.95rem;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  background-color: #f1556c;
  top: 0.95rem;
}

div.dt-button-info {
  background-color: #1991EB;
  border: none;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  text-align: center;
  z-index: 21;
}

div.dt-button-info h2 {
  border-bottom: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

@media (max-width: 767.98px) {
  li.paginate_button.previous,
  li.paginate_button.next {
    display: inline-block;
    font-size: 1.5rem;
  }
  li.paginate_button {
    display: none;
  }
  .dataTables_paginate ul {
    text-align: center;
    display: block;
    margin: 1.5rem 0 0 !important;
  }
  div.dt-buttons {
    display: inline-table;
    margin-bottom: 1.5rem;
  }
}

.daterangepicker {
  font-family: "Karla", sans-serif;
}

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker .ranges li.active {
  background-color: #1991EB;
}

.form-wizard-header {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #f7f7f7;
  border-radius: 3px;
}

.jvectormap-label {
  border: none;
  background: #323a46;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 0.875rem;
  padding: 5px 8px;
}

.select2-container .select2-selection--single {
  border: 1px solid #ced4da;
  height: 38px;
  outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 12px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  width: 34px;
  right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #d1d1d1 transparent transparent transparent;
  border-width: 6px 6px 0 6px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #d1d1d1 transparent !important;
  border-width: 0 6px 6px 6px !important;
}

.select2-results__option {
  padding: 6px 12px;
}

.select2-dropdown {
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
}

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: white;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #eaeaea;
  outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1991EB;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #f7f7f7;
  color: #323a46;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
  background-color: #1991EB;
  color: #fff;
}

.select2-container .select2-selection--multiple {
  min-height: 38px;
  border: 1px solid #ced4da !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 1px 10px;
}

.select2-container .select2-selection--multiple .select2-search__field {
  border: 0;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #1991EB;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 0 7px;
  margin-top: 7px;
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  margin-right: 5px;
}

.select2-container .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fff;
}

.slimScrollDiv {
  height: auto !important;
}

#toast-container>div {
  opacity: 1;
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
}

#toast-container>div:hover {
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.12);
}

.toast-progress {
  background-color: #fff;
}

.toast-success {
  background-color: #25b343;
}

.toast-info {
  background-color: #4b88e4;
}

.toast-warning {
  background-color: #f7b84b;
}

.toast-error {
  background-color: #f1556c;
}

.swal2-modal {
  font-family: "Karla", sans-serif;
  -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
}

.swal2-modal .swal2-title {
  font-size: 28px;
}

.swal2-modal .swal2-content {
  font-size: 16px;
}

.swal2-modal .swal2-spacer {
  margin: 10px 0;
}

.swal2-modal .swal2-file,
.swal2-modal .swal2-input,
.swal2-modal .swal2-textarea {
  border: 2px solid #dee2e6;
  font-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.swal2-modal .swal2-confirm.btn-confirm {
  background-color: #1991EB !important;
  font-size: 0.875rem;
}

.swal2-modal .swal2-cancel.btn-cancel {
  background-color: #f1556c !important;
  font-size: 0.875rem;
}

.swal2-modal .swal2-styled:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.swal2-icon.swal2-question {
  color: #1991EB;
  border-color: #1991EB;
}

.swal2-icon.swal2-success {
  border-color: #25b343;
}

.swal2-icon.swal2-success .line,
.swal2-icon.swal2-success [class^=swal2-success-line][class$=long],
.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #25b343;
}

.swal2-icon.swal2-success .placeholder,
.swal2-icon.swal2-success .swal2-success-ring {
  border-color: #25b343;
}

.swal2-icon.swal2-warning {
  color: #f7b84b;
  border-color: #f7b84b;
}

.swal2-icon.swal2-error {
  border-color: #f1556c;
}

.swal2-icon.swal2-error .line {
  background-color: #f1556c;
}

.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-textarea:focus {
  outline: 0;
  border: 2px solid #1991EB;
}

.swal2-container.swal2-shown {
  background-color: rgba(50, 58, 70, 0.9);
}

[data-plugin="customselect"] {
  display: none;
}

.nice-select {
  line-height: 36px;
  height: 38px;
  border-color: #ced4da;
  border-radius: 0.2rem;
}

.nice-select.open,
.nice-select:active,
.nice-select:focus {
  border-color: #b1bbc4;
}

.nice-select.small {
  height: 32px;
  line-height: 30px;
}