*,
*:after,
*::before {
    box-sizing: border-box;
    outline: none;
}

.form-group label {
    font-size: 14px;
    color: #B7C0CC;
    font-weight: 500;
    display: block;
}

.filters form {
    padding: 20px;
}

.filters .form-group {
    margin-bottom: 0;
}

.input-group-text,
select,
.nice-select {
    border: 1px solid #E5E9F2;
}

.nice-select {
    color: #7F8FA4;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control {
    border-left: 1px solid #FFF;
    padding-left: 0;
}


.btn-link {
    color: #7F8FA4;
}

.btn-link:hover,
.btn-link:focus {
    color: #354052;
}

#sidebar-menu>ul>li>a img {
    display: inline-block;
    line-height: 1.0625rem;
    margin: 0 10px 0 3px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}


#sidebar-menu>ul>li>a.active {
    font-weight: 600;
}

#sidebar-menu>ul>li>a.active i,
#sidebar-menu>ul>li>a.active img {
    margin-left: -2px;
}

.left-side-menu {
    padding-top: 0;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, .15);
    border: none;
}

.sidebar-header {
    background: #1991EB;
    padding: 16px 0;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.sidebar-header a {
    color: #FFF;
}

.metismenu {
    padding-top: 90px;
}


.b-l-success {
    border-left: 10px solid #36AF47;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.b-l-danger {
    border-left: 10px solid #ED1C24;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.bootstrap-tagsinput {
    width: 100%;
}

textarea {
    resize: none;
}

.card h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}


.no-padding {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

.no-padding .card-body {
    padding: 0;
    margin-bottom: 0;
}


h4 {
    font-weight: 500;
}

.page-title-box .nice-select {
    padding-left: 6px;
}

.nav-tabs .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 12px;
    padding: 0 16px;
    padding-bottom: 4px;
    border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #1991EB;
    border-bottom: 2px solid #1991EB;
    font-weight: 600;
}

.tab-content {
    padding: 10px 0;
}

table th,
table td {
    vertical-align: middle !important;
}

[class*="dlist-"] {
    margin-bottom: 5px;
}

[class*="dlist-"] dd {
    margin-bottom: 0;
}

.dlist-inline dt,
.dlist-inline dd {
    display: inline-block;
}

.dlist-align dt {
    width: 150px;
    float: left;
    word-wrap: break-word;
}

.dlist-align dd {
    margin-left: 120px;
    vertical-align: baseline;
}

.table .action-icon {
    color: #98a6ad;
    font-size: 1rem;
    display: inline-block;
    padding: 0 3px;
}
.table .table-user img {
    height: 30px;
    width: 30px;
}